@media (width <= 300px)
{
     /* section sub header */
    
    #sub-header {
        position: relative;
        height: 80px;
        top: 14.3em;
        padding: 0em 3em 3em;
    }

    #sub-header .container {
        font-size: .5rem;
        height: 1000px;
        padding: 0em 0em 1.35em 0em;
    }
    
}